<header class="p-4">
  <div class="container w-80">
    <div class="row">
      <div class="col-6 text-start">
        <p>Yelp Copycat</p>
      </div>

      <div class="col-6 text-end">
        <%= link_to 'Add restaurant', new_restaurant_path %>
      </div>
    </div>
  </div>
</header>
