<header class="py-5 px-4 bg-secondary text-white">
  <div class="container w-80">
    <div class="row">
      <div class="col-6 text-start fs-4 text">
        <%= link_to 'Yelp Copycat', root_path, class: 'text-reset text-decoration-none' %>
      </div>

      <div class="col-6 text-end">
        <%= link_to 'Add restaurant', new_restaurant_path, class: 'btn btn-dark' %>
      </div>
    </div>
  </div>
</header>
